<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>BlueAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>iconBlue-40</string>
					<string>iconBlue-60</string>
					<string>iconBlue-72</string>
					<string>iconBlue-76</string>
					<string>iconBlue-83.5</string>
				</array>
				<key>CFBundleIcons~ipad</key>
				<array>
					<string>iconBlue-20x20</string>
					<string>iconBlue-40</string>
					<string>iconBlue-29x29</string>
					<string>iconBlue-58x58</string>
					<string>iconBlue-76x76</string>
					<string>iconBlue-80x80</string>
					<string>iconBlue-152x152</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>PurpleAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>iconPurple-40</string>
					<string>iconPurple-60</string>
					<string>iconPurple-72</string>
					<string>iconPurple-76</string>
					<string>iconPurple-83.5</string>
				</array>
				<key>CFBundleIcons~ipad</key>
				<array>
					<string>iconPurple-20x20</string>
					<string>iconPurple-29x29</string>
					<string>iconPurple-40</string>
					<string>iconPurple-58x58</string>
					<string>iconPurple-76x76</string>
					<string>iconPurple-80x80</string>
					<string>iconPurple-152x152</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>RedAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>iconRed-40</string>
					<string>iconRed-60</string>
					<string>iconRed-72</string>
					<string>iconRed-76</string>
					<string>iconRed-83.5</string>
				</array>
				<key>CFBundleIcons~ipad</key>
				<array>
					<string>iconRed-20x20</string>
					<string>iconRed-40</string>
					<string>iconRed-29x29</string>
					<string>iconRed-58x58</string>
					<string>iconRed-80x80</string>
					<string>iconRed-76x76</string>
					<string>iconRed-152x152</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fbAPP-ID</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>instagram://</string>
		<string>instagram-stories</string>
		<string>instagram</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>Bayon-Regular.ttf</string>
		<string>BethEllen-Regular.ttf</string>
		<string>BlackOpsOne-Regular.ttf</string>
		<string>Calistoga-Regular.ttf</string>
		<string>FontsFree-Net-Bely-Display-W00-Regular</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
</dict>
</plist>
